/* ==========================================
   Navbar
========================================== */

.navbar{
    position: sticky;
    top: 0;
    z-index: 1000;

    background: rgba(255,255,255,.85);
    backdrop-filter: blur(15px);

    border-bottom: 1px solid var(--border-color);
}

.navbar .container{

    display:flex;
    align-items:center;
    justify-content:space-between;

    height:80px;
}

/* ==========================================
   Logo
========================================== */

.logo{
    display:flex;
    align-items:center;
    gap:14px;
}

.logo-icon{
    width:52px;
    height:52px;
    border-radius:16px;

    background:linear-gradient(135deg,#2563EB,#1D4ED8);

    display:flex;
    justify-content:center;
    align-items:center;

    color:#fff;

    font-weight:700;
    font-size:1rem;

    letter-spacing:1px;

    box-shadow:0 10px 25px rgba(37,99,235,.25);
}

.logo-content{
    display:flex;
    flex-direction:column;
}

.logo-title{
    font-size:1.2rem;
    font-weight:700;
    color:var(--text-primary);
}

.logo-subtitle{
    font-size:.75rem;
    color:var(--text-secondary);
}

.nav-links{

    display:flex;

    gap:40px;

}

.nav-links a{

    position:relative;

    color:var(--text-secondary);

    font-weight:500;

    transition:.3s;

}

.nav-links a::after{

    content:"";

    position:absolute;

    left:0;

    bottom:-8px;

    width:0;

    height:2px;

    background:var(--primary-color);

    transition:.3s;

}

.nav-links a:hover{

    color:var(--primary-color);

}

.nav-links a:hover::after{

    width:100%;

}

.nav-buttons{

    display:flex;

    gap:15px;

}