<footer>

    <div class="container footer-grid">

        <div>

            <h3>
                PocketFlow
            </h3>

            <p>

                Your Money.
                Organized.

            </p>

        </div>

        <div>

            <h4>

                Product

            </h4>

            <ul>

                <li>
                    Features
                </li>

                <li>
                    FAQ
                </li>

            </ul>

        </div>

        <div>

            <h4>

                Account

            </h4>

            <ul>

                <li>

                    Login

                </li>

                <li>

                    Register

                </li>

            </ul>

        </div>

        <div>

            <h4>

                Contact

            </h4>

            <p>

                support@pocketflow.com

            </p>

        </div>

    </div>

    <div class="copyright">

        © 2026 PocketFlow.
        All Rights Reserved.

    </div>

</footer>