<aside class="sidebar">
  <div class="sidebar-logo">
    <div class="logo-icon">PF</div>

    <div>
      <h2>PocketFlow</h2>

      <small>Your Money. Organized.</small>
    </div>
  </div>

  <nav class="sidebar-menu">
    <a href="{{ url_for('dashboard.dashboard_page') }}">
      <span class="material-symbols-outlined">dashboard</span>
      Dashboard
    </a>

    <a href="#">
      <span class="material-symbols-outlined">receipt_long</span>
      Expenses
    </a>

    <a href="#">
      <span class="material-symbols-outlined">payments</span>
      Income
    </a>

    <a href="#">
      <span class="material-symbols-outlined">bar_chart</span>
      Reports
    </a>

    <a href="{{ url_for('category.index') }}">
      <span class="material-symbols-outlined"> category </span>

      Categories
    </a>

    <a href="#">
      <span class="material-symbols-outlined">person</span>
      Profile
    </a>
  </nav>

  <div class="sidebar-footer">
    <a href="#">
      <span class="material-symbols-outlined">logout</span>
      Logout
    </a>
  </div>
</aside>
